<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart-Rx LTE Tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Chart.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataviz.gauges.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="capture">
                <div id="rf-gauge">
                    <div id="header" style="width: 25vw; float: left;">
                    <div id="test" style="width: 12vw; height: 12vw; margin-left: 0vw; float: left;">
                                                </div>
                        <div id="buttons" style="margin-left: 12vw; margin-top: 1vh;">
                    <button id="btnCapture" class="btn warning"
                            style="width: 11vw; margin-left: 1.2vw;">Capture d'écran</button>
                    <button id="btnSpeedTest" class="btn btn-primary"
                            style="width: 11vw; margin-left: 1.2vw;">SpeedTest</button>
                    <button id="btnInfos" class="btn btn-secondary"
                            style="width: 11vw; margin-left: 1.2vw;">Informations</button>
                    <a href="http://127.0.0.1:5000/shutdown"><button id="btnKill" class="btn btn-danger"
                            style="width: 11vw; margin-left: 1.2vw;">Quitter</button></a>
                    </div>
                    </div>

                    <div>
                        <div id="loading" class="loadingio-spinner-double-ring-ibzxxudhwa" style="display: none;
                            margin-left: 10vw;">
                            <div class="ldio-yrl1howkiss">
                        <div></div>
                        <div></div>
                        <div><div></div></div>
                        <div><div></div></div>
                        </div></div>
                        <table id="table1" style="display: none;">
                            <tr>
                                <th class="sig" style="width: 9vw;">DOWN</th>
                                <th class="sig" style="width: 9vw;">UP</th>
                                <th class="sig" style="width: 7vw;">PING</th>
                            </tr>
                            <tr>
                                <td id="dl" class="sig" ></td>
                                <td id="up" class="sig" ></td>
                                <td id="ping" class="sig" ></td>
                            </tr>
                        </table>
                        <table id="table2" style="display: none;">
                            <tr>
                                <th class="sig" style="width: 6vw;">RSRP</th>
                                <th class="sig" style="width: 6vw;">RSRQ</th>
                                <th class="sig" style="width: 5vw;">RSSI</th>
                                <th class="sig" style="width: 4vw;">SINR</th>
                                <th class="sig" style="width: 4vw;">RFM</th>
                            </tr>
                            <tr>
                                <td id="trsrp" class="sig" ></td>
                                <td id="trsrq" class="sig" ></td>
                                <td id="trssi" class="sig" ></td>
                                <td id="tsinr" class="sig" ></td>
                                <td id="rfm" class="sig" ></td>

                            </tr>
                        </table>
                        <table id="table3" style="display: none;">
                            <tr>
                                <th class="sig" style="width: 6.5vw;">RSRP(avg)</th>
                                <th class="sig" style="width: 6.5vw;">RSRQ(avg)</th>
                                <th class="sig" style="width: 6vw;">RSSI(avg)</th>
                                <th class="sig" style="width: 6vw;">SINR(avg)</th>
                            </tr>
                            <tr>
                                <td id="arsrp" class="sig" ></td>
                                <td id="arsrq" class="sig" ></td>
                                <td id="arssi" class="sig" ></td>
                                <td id="asinr" class="sig" ></td>

                            </tr>
                        </table>
                    </div>
                    <h1 id="rfmargin">RF-Margin: </h1>
                    <div id="rf"></div>
                </div>

    <div class="chart-container">
        <canvas id="rsrp" class="chart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="rssi" class="chart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="rsrq" class="chart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="sinr" class="chart"></canvas>
    </div>


    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close">&times;</span>
    <p><h3 style="text-align: center;">INFORMATIONS</h3></p>
      <p><h4>Atténuation du signal suivant la longueur des antennes:</h4></p>
      <ul>
        <li>6m : de 0 à -1 dBm </li>
        <li>20 m : de -3 à -5 dBm</li>
        <li>2 antennes de 6M mises bout à bout : -10 dBm</li>
      </ul>
      <p><h4>Valeurs min/max par défaut:</h4></p>
      <table id="signaux" style="color: black;">
            <tr id="info_sig">
                <th id="info_sig" colspan="2" style="width: 6.5vw;">RSRP</th>
                <th id="info_sig" colspan="2" style="width: 6.5vw;">RSRQ</th>
                <th id="info_sig" colspan="2" style="width: 6vw;">RSSI</th>
                <th id="info_sig" colspan="2" style="width: 6vw;">SINR</th>
            </tr>
                <tr id="info_sig">
                    <th id="info_sig" class="min">Good</th>
                    <th id="info_sig" class="max">Poor</th>
                    <th id="info_sig" class="min">Good</th>
                    <th id="info_sig" class="max">Poor</th>
                    <th id="info_sig" class="min">Good</th>
                    <th id="info_sig" class="max">Poor</th>
                    <th id="info_sig" class="min">Good</th>
                    <th id="info_sig" class="max">Poor</th>
                </tr>
            <tr>
                <td id="info_sig">-80</td>
                <td id="info_sig">-100</td>
                <td id="info_sig">-10</td>
                <td id="info_sig">-20</td>
                <td id="info_sig">-65</td>
                <td id="info_sig">-85</td>
                <td id="info_sig">20</td>
                <td id="info_sig">0</td>
            </tr>
      </table><br>
          <em>A noter que lors d'un speedtest, les résultats sont automatiquement envoyés par mail à l'adresse:
          airbox@perso.smart-rx.com à des fins d'optimisation des calculs des valeurs.<br>
          <u>Ces données sont anonymisées.</u>
          </em>
      <br>
      <em style="margin-left: 21vw;"><u>Développé par ludovic.retail@smart-rx.com</u></em>
  </div>

</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartjs-plugin-zoom.js') }}"></script>
<script src="{{ url_for('static', filename='dataviz.gauges.min.js') }}"></script>
<script src="{{ url_for('static', filename='html2canvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>