<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>Smart-Rx LTE Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

<header style="z-index: 10;">
  <h1>
    <a id="logo_header" class="logo_header" style="margin-left: 5vw;">&nbsp&nbsp&nbsp&nbsp Airbox</a>
  </h1>
</header>
<h3>{{ error }}</h3>
<div><img src="{{url_for('static', filename='lock.png')}}" /></div>
<div class="container">
<form action="/resetPassword" method="post">
    <label for="login"><b>Identifiant</b></label>
    <input id="login" type="text" placeholder="{{ login }}" name="login" required>
    <label for="pwd"><b>Mot de passe</b></label>
    <input id="pwd" type="password" placeholder="{{ pwd }}" name="pwd" required>
    <label for="ip"><b>Adresse IP</b></label>
    <input id="ipaddress" type="text" placeholder="{{ ip }}" name="ip" required>
    <button id="changePwd" type="submit">Mettre à jour</button>
</form>
</div>
</body>
</html>
